@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
  	font-family: 'Kanit', sans-serif;
}

/* Full-width input fields */
.rtextarea {
	border-radius: 5px;
  	width: 100%;
  	padding: 15px;
  	margin: 5px 0 22px 0;
  	display: inline-block;
  	background: #DDDDDD;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
  	font-family: 'Kanit', sans-serif;
    font-size: 14pt;
    resize: none;

  	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Add a background color when the inputs get focus */
.rtextarea:focus {
  	background-color: #FFFFFF;
  	outline: none;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
    font-family: 'Kanit', sans-serif;
  	color: white;
  	padding: 10px 20px;
  	margin: 10px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
}

button:hover {
  	background-color: #3e8e41;
  	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

button:active {
    background-color: #000000;
}

/* Extra styles for the cancel button */
.rcancelbtn {
	width: auto;
  	padding: 10px 18px;
  	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.rcancelbtn, .submitbtn {
  	float: left;
  	width: 50%;
}

.rcancelbtn:hover {
	background-color: #B22222;
}

.rcancelbtn:active {
  	background-color: #000000;
}

/*.report {
  	position:absolute;
  	padding-right: 15px;
    margin-right: 7%;
}*/

.btn {
	background-color: #FF0000;
  	border: none;
  	color: white;
  	width: auto;
  	padding: 8px 12px;
  	font-size: 16px;
  	cursor: pointer;
  	float: right;
}

.btn:hover {
  	background-color: #B22222;
}

/* Add padding to container elements */
.rcontainer {
	border-radius: 10px;
  	background: #FFDEAD;
  	padding: 16px;
}

span.psw {
  	float: right;
  	padding-top: 10px;
}

/* The Modal (background) */
.rmodal {
  	display: none; /* Hidden by default */
  	position: fixed; /* Stay in place */
  	z-index: 1; /* Sit on top */
  	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
  	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  	padding-top: 60px;
}

/* Modal Content/Box */
.rmodal-content {
	font-family: 'Kanit', sans-serif;
	border-radius: 10px;
  	background-color: #FFDEAD;
  	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  	border: 1px solid #888;
  	width: 50%; /* Could be more or less, depending on screen size */
}

/* Center the image and position the close button */
.rimgcontainer {
  	text-align: right;
  	margin: 10px 15% 12px 0;
  	position: relative;
}
 
/* The Close Button (x) */
.rclose {
	position: absolute;
	width: auto;
  	top: 0;
  	color: #000;
  	font-size: 35px;
  	font-weight: bold;
  	float: right;
}

.rclose:hover,
.rclose:focus {
  	color: red;
  	cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
    	display: block;
    	float: none;
  }
  	.rcancelbtn, .submitbtn {
    	width: 100%;
  }
}