body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.all {
    font-family: 'Kanit', sans-serif;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 10px 10px 10px;
    padding: 7px;
    background: #FFDEAD;
    margin-top: 5em;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3em;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.btn_check_mail:hover {
    background: #f172ac;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.btn_check_mail {
    background: #f57c8a;
    padding: 8px 20px;
    font-family: 'quarkbold','quarkboldSVG';
    font-weight: normal;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

div {
    display: block;
}
ul.Form li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}