* {
  	box-sizing: border-box;
}

/* Add padding to containers */
.input-container {
  	padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  	border-radius: 5px;
  	width: 100%;
  	padding: 15px;
  	margin: 5px 0 22px 0;
  	display: inline-block;
  	border: none;
  	background: #FFFFFF;
}

input[type=text]:focus, input[type=password]:focus {
  	background-color: #FFFFFF;
  	outline: none;
}

.cancelbtn {
	background-color: #EE0000;
  	color: white;
  	padding: 13px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 50%;
  	opacity: 0.9;
  	float: left;
}

.cancelbtn:hover {
    background-color: #CD0000;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.cancelbtn:active {
  	background-color: #000000;
}

.signupbtn {
  	background-color: #4CAF50;
  	color: white;
  	padding: 16px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 50%;
  	float: left;
}

.signupbtn:hover {
    background-color: #3e8e41;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.signupbtn:active {
  	background-color: #000000;
}