@import url('https://fonts.googleapis.com/css?family=Kanit');

/* General styles */
body {
    background: #CD853F;
    font-size: 18px;
    line-height: 30px;
    color: #828282;
    font-weight: 400;
}

img {width: 100%;}
a,button{outline: 0 !important;}
a:hover,a:focus{ text-decoration: none}

.about_right {
    margin-left: 0px;
    margin-top: 0px;
    overflow: hidden;
    padding: 18px 25px 25px 30px;
    word-wrap: break-word;
    -ms-word-break: break-all; 
    word-break: break-all; 
    word-break: break-word;
}

.about_left {
    box-shadow: 0 0 18px -9px #2a425e;
    -moz-box-shadow: 0 0 18px -9px #2a425e;
    -webkit-box-shadow: 0 0 18px -9px #2a425e;

    margin-top: 40px;
    /*position: relative;*/
    z-index: 1;
    float: left;
    width: 30%;
}

.his {
	background-color: #FFEFD5;
	float: left;
	width: 93%;
	padding-left: 10px;
	padding-right: 10px;
}

.his2 {
	background-color: #FFEBCD;
	float: left;
	width: 93%;
	padding-left: 10px;
	padding-right: 10px;
}

.all {
    font-family: 'Kanit', sans-serif;
    color: #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 10px 10px 10px;
    padding: 7px;
    background: #FFDEAD;
    margin-top: 5em;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3em;
}

.row {
    font-family: 'Kanit', sans-serif;
    color: #000000;
    display: block;
    background-color: #FFDEAD;
    padding: 3%;
}

.login {
    position: absolute;
    padding-right: 15px;
    margin-right: 7%;
}

/*.signup {
    position: absolute;
    padding-right: 15px;
    margin-right: 7%;
}*/

.logout {
    text-align: center;
}

.comment {
    margin-top: 0;
    display: block;
    background-color: #FFDEAD;
    margin-left: 7%;
    margin-right: 7%;
}

.v_comment {
	word-wrap: break-word;
	-ms-word-break: break-all; 
    word-break: break-all; 
    word-break: break-word;
}

.button2 {
    width: 100px;
    padding-right: 15px;
    margin-right: 0;
}

.btn {
	background-color: #FF0000;
  	border: none;
  	color: white;
  	width: auto;
  	padding: 7px 12px;
  	font-size: 16px;
  	cursor: pointer;
  	float: right;
}

.btn:hover {
  	background-color: #B22222;
}

.d_btn {
	background-color: #32CD32;
  	color: white;
  	width: auto;
  	padding: 7px 12px;
  	font-size: 16px;
  	cursor: pointer;
  	float: left;
}

.backbtn {
	background-color: #EE0000;
  	color: white;
  	padding: 13px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 50%;
  	opacity: 0.9;
  	float: left;
}

.backbtn:hover {
    background-color: #CD0000;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.backbtn:active {
  	background-color: #000000;
}

.profilebtn {
  	background-color: #4CAF50;
  	color: white;
  	padding: 13px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 50%;
  	float: left;
}

.profilebtn:hover {
    background-color: #3e8e41;
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
}

.profilebtn:active {
  	background-color: #000000;
}

.comment_submit {
	height: auto;
	width: 100%;
	margin-left: 7%;
	margin-right: 7%;
}

input {
    font-family: 'Kanit', sans-serif;
}

select {
	border-radius: 5px;
  	width: 100px;
  	padding: 10px 10px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    font-family: 'Kanit', sans-serif;
    font-size: 14pt;
    resize: none;
}

span {
    font-family: 'Kanit', sans-serif;
    transition: margin-left .5s;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 2.9em;
    margin-left: 6.9%;
    width: 100px;
    background-color: #FFDEAD;
    border-radius: 10px 10px 0 0;
    font-size:20px;
    cursor:pointer; 
    text-align: center;
}

fieldset {
	border-radius: 10px;
}

@media (min-width: 750px) {
	.his {
		background-color: #FFEFD5;
		float: left;
		width: 50%;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.his2 {
		background-color: #FFEBCD;
		float: right;
		width: 50%;
		padding-left: 10px;
		padding-right: 10px;
		-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
}

.sidenav {
  	height: 100%;
  	width: 0;
  	position: fixed;
  	z-index: 1;
  	top: 0;
  	left: 0;
  	background-color: #111;
  	overflow-x: hidden;
  	transition: 0.5s;
  	padding-top: 60px;
}

.sidenav a {
  	padding: 8px 8px 8px 32px;
  	text-decoration: none;
  	font-size: 25px;
  	color: #818181;
  	display: block;
  	transition: 0.3s;
}

.sidenav a:hover {
  	color: #f1f1f1;
}

.sidenav .closebtn {
  	position: absolute;
  	top: 0;
  	right: 25px;
  	font-size: 36px;
  	margin-left: 50px;
}

#main {
  	transition: margin-left .5s;
  	padding: 16px;
}

@media screen and (max-height: 450px) {
  	.sidenav {padding-top: 15px;}
  	.sidenav a {font-size: 18px;}
}

/* Checkbox*/
/* The container */
.ccontainer {
  display: block;
  width: 365px;
  position: relative;
  padding-left: 45px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Hide the browser's default checkbox */
.ccontainer #in {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: -15px;
  border-radius: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ccontainer:hover #in ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ccontainer #in:checked ~ .checkmark {
  background-color: #F4A460;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ccontainer #in:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ccontainer .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* radio */
/* The container */
.racontainer {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.racontainer #in2 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.racheckmark {
  position: absolute;
  top: 4px;
  left: 0px;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.racontainer:hover #in2 ~ .racheckmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.racontainer #in2:checked ~ .racheckmark {
  background-color: #F4A460;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.racheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.racontainer #in2:checked ~ .racheckmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.racontainer .racheckmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}